absl-py==0.12.0
alabaster==0.7.12
anaconda-client==1.7.2
anyio==2.2.0
appdirs==1.4.4
argcomplete==1.12.2
argh==0.26.2
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
atari-py==0.2.6
atomicwrites==1.4.0
autovizwidget==0.18.0
bkcharts==0.2
black==19.10b0
boto==2.49.0
boto3==1.17.35
botocore==1.20.35
Bottleneck==1.3.2
brotlipy==0.7.0
bz2file==0.98
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
clyent==1.2.2
conda==4.8.4
conda-package-handling==1.7.0
contextlib2==0.6.0.post1
crcmod==1.7
cryptography==3.4.6
cycler==0.10.0
cytoolz==0.11.0
dill==0.3.3
docutils==0.16
dopamine-rl==3.1.10
entrypoints==0.3
environment-kernels==1.1.1
et-xmlfile==1.0.1
fastcache==1.1.0
fasteners==0.16
Flask-Cors==3.0.10
flatbuffers==1.12
flax==0.3.2
future==0.18.2
gast==0.2.2
gcs-oauth2-boto-plugin==2.7
gin-config==0.4.0
gmpy2==2.0.8
google-api-core==1.26.3
google-api-python-client==2.0.2
google-apitools==0.5.31
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
google-reauth==0.1.1
googleapis-common-protos==1.53.0
grpcio==1.32.0
gsutil==4.60
gunicorn==20.1.0
gym==0.18.0
h5py==2.10.0
hdijupyterutils==0.18.0
HeapDict==1.0.1
httplib2==0.19.1
idna==2.9
importlib-resources==5.1.2
itsdangerous==1.1.0
jax==0.2.11
jaxlib==0.1.64
jdcal==1.4.1
jmespath==0.10.0
json5==0.9.5
jupyter==1.0.0
jupyter-packaging==0.7.12
jupyter-server==1.5.0
jupyterlab==3.0.12
jupyterlab-server==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kfac==0.2.0
llvmlite==0.34.0
locket==0.2.1
lxml==4.6.3
Markdown==3.3.4
mccabe==0.6.1
mesh-tensorflow==0.1.19
mkl-fft==1.2.1
mkl-random==1.1.1
mkl-service==2.3.0
mock==2.0.0
monotonic==1.5
mpmath==1.1.0
multipledispatch==0.6.0
mypy-extensions==0.4.3
nbclassic==0.2.6
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.46
opencv-python==4.5.1.48
opt-einsum==3.3.0
pandas==1.2.2
parso==0.7.0
partd==1.1.0
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.5.1
pep8==1.7.1
Pillow==7.2.0
pkginfo==1.7.0
plotly==4.14.3
pluggy==0.13.1
ply==3.11
portalocker==2.0.0
promise==2.3
protobuf==3.15.2
protobuf3-to-dict==0.1.5
psycopg2==2.7.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
pycrypto==2.6.1
pycurl==7.43.0.5
pygal==2.4.0
pygame==2.0.1
pyglet==1.5.0
pykerberos==1.2.1
pyodbc===4.0.0-unsupported
pyOpenSSL==19.1.0
pypng==0.0.20
PySocks==1.7.1
pytest==6.2.2
pyu2f==0.1.5
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
requests==2.25.1
requests-kerberos==0.12.0
requests-oauthlib==1.3.0
retry-decorator==1.1.1
retrying==1.3.3
rouge-score==0.0.4
rsa==4.7.2
Rtree==0.9.4
ruamel-yaml==0.15.87
s3transfer==0.3.6
sacrebleu==1.5.1
sagemaker==2.31.1
scikit-image==0.17.2
sentencepiece==0.1.95
simplegeneric==0.8.1
six==1.15.0
smdebug-rulesconfig==1.0.1
sniffio==1.2.0
sparkmagic==0.15.0
tables==3.6.1
tensor2tensor==1.15.4
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorflow==1.15.0
tensorflow-datasets==4.2.0
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-hub==0.11.0
tensorflow-metadata==0.29.0
tensorflow-probability==0.7.0
tensorflow-text==1.15.1
termcolor==1.1.0
terminado==0.9.2
tf-slim==1.1.0
tqdm==4.46.0
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.26.4
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlwt==1.3.0
zict==2.0.0
zope.event==4.5.0