body {
  margin: 15px;
  font-family: 'Dekko';
  /*height: 10px; */
  min-width: 400px;
}

#extension_title {
  background-color: lightblue;
  color: black;
  text-align: center;
}

#inline {
  display: inline-block; 
  text-align: center;
}

#tw_submit {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15.65px;
  	margin: 2px 1px;
}

#li_submit {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15.65px;
  	margin: 2px 1px;
}

#tw_post {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15.65px;
  	margin: 2px 1px;
}

#li_post {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15.65px;
  	margin: 2px 1px;
}