body {
  margin: 15px;
  font-family: 'Dekko';
  min-width: 400px;
}

#extension_title {
  color: black;
  text-align: left;
  padding: 4px 8px;
}

#extension_subtitle {
  color: black;
  text-align: center;
  font-size: 16px;
}

#loadingScreen {
	font-family: 'Dekko';
	color: black;
	text-align: center;
	margin: 2px 1px;
	padding: 4px 8px;
	margin-left: 150px;
}

#inline {
  display: inline-block; 
  text-align: center;
}

#tw_submit {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12.75px;
  	margin: 2px 1px;
}

#li_submit {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 12.75px;
  	margin: 2px 1px;
}

#tw_post {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15.65px;
  	margin: 2px 1px;
  	margin-left: 90px;
}

#li_post {
	font-family: 'Dekko';
	cursor: pointer;
	padding: 4px 8px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 15.65px;
  	margin: 2px 1px;
  	margin-left: 90px;
}